#!/usr/bin/env bash
# the shebang is ignored, but nice for editors

if type -P lorri &>/dev/null; then
  eval "$(lorri direnv)"
else
  echo 'while direnv evaluated .envrc, could not find the command "lorri" [https://github.com/nix-community/lorri]'
  use nix
fi

export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/nix/store/k722plplq279zslc0s7nibk3kc7jdldg-alsa-lib-1.2.9/lib:/nix/store/3dvqpndk3sqxwjqlcbm39a0k20skhs8c-systemd-253.5/lib:/nix/store/m6h7g1l8byqfh4zrjzrhxw5svm7dypbi-vulkan-loader-1.3.254/lib"
